<span class='login'><%= link_to "Sign Out", "/users/sign_out", method: :delete %></span>
<span class='login'><%= link_to "Sign Up", "/users/sign_up" %></span>
<span class='login'><%= link_to "Sign In", "/users/sign_in" %></span>
          