.active {
    color: green;
}

.btn-xs {
    margin-top: 15px;
}

.balance {
    padding: 0;
    margin-top: -2em;
    text-transform: uppercase;
    font-size: .8em;
    color: #fff;
}
.navbar-nav {
    float: left;
    margin: 0;
    height: 65px;
}

.container-fluid  .navbar-nav .add-fund {
    display: inline-block;
    padding: .25em .5em;
    margin-top: 1.3em;
    margin-right: 1em;
    border-radius: .25em;
    background-color: #37a90a;
    font-size: 12px;
    color: white;

}
 
.container-fluid  .navbar-nav .add-fund:hover {
    background-color: #277807;
    color: #fff;
}  

.amount {
    color: white;
    font-weight: bold;
    margin-top: -.5em;
}

table.tg {
    /*width: 1280px;*/
    margin: 0 auto;
}

.dropdown {
    display: inline-block;
    margin-top: .85em;
    margin-right: 1em;
}

.dropdown-toggle {
    background-color: transparent;
}

.login-btn {
}

#commit {
    margin-left: 48.6em;
}

.btn-primary {
    background-color: #2471A3;
    color: #F7F9F9;
    border: 0px;
    margin-left: 48.6em;
    font-family: Bank Gothic;
}

.btn-primary:hover {
    background-color: #1F618D;
}

.col-md-2 {
    font-weight: bold;
    font-size: 20px;
}

#game-info {
    margin-top: -1.8em;
}

#name {
    margin-top: .2em;
}

#main-nav {
    background-color: black;
    border-color: black;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
#logo {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    font-variant: small-caps;
    margin-left: 1em;
    margin-top: .15em;
}

#dropdownMenu1 {
    margin-top: -.5em;
    font-weight: 500;
    font-family: Bank Gothic;
    font-size: 20px;
    background-color: black;
}

.avatar {
    width: 25px;
    height: 25px;
    margin: 0 10px 0 0;
    box-shadow: 0 0 1px #fff;
    display: inline-block;
}

#menu {
    margin-top: .5em;
    font-weight: 500;
    font-size: 16px;
    font-family: Bauhaus 93;
}

.login {
    margin-top: -1.8em;
    
}

.signup {
    margin-top: -1.8em;
}

.games-index {
    color: black;
}

.row-header {
    color: black;
}

.game-info {
    margin: 0 auto;
    font-size: 15px;
    font-family: Bank Gothic;
}

.game-info th {
    padding-left: 30px;
    padding-right: 30px;
}

.hr-style {
    border-top: 3px double #8c8b8b;
}

.hr:before {
    background: transparent; 
}



/* games show */
  .tg  {
    border-collapse:collapse;
    border-spacing:0;
  }
  .tg td {
    font-family:Arial, sans-serif;
    font-size:14px;
    /*padding:5px 20px;*/
    overflow:hidden;
    word-break:normal;
  }
  .tg th {
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    padding:5px 20px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
}
  .tg .tg-baqh {
    text-align:center;
    vertical-align:top;
}
  .tg .tg-qj3h {font-size:36px;
    text-align:center;
    vertical-align:top;
}
  .tg .tg-yw4l {
    vertical-align:top;
}

.tg { 
    border-collapse:collapse;
}

.btn {
  width: 80px;
  height: 40px;
  margin: 5px 5px 5px 5px;
}

.games-button {
  background-color: #FACC2E;
  font-weight: 700;
  font-size: 20px;
  font-family: Bank Gothic;
}

.games-button:hover {
  background-color: #FFBF00;
}

.tg .tg-qj3h .current-user-buttons {
  background-color: #1F618D;
  color: white;
  font-family: Bank Gothic;
}

.tg .tg-qj3h .other-user-buttons {
  background-color: #D0D3D4;
  color: black;
  font-family: Bank Gothic;
}

.game-index {
    font-family: Bank Gothic;
    font-weight: bold;
}

#join-button {
    padding: 10px;
    font-size: 15px;
    margin-top: .01em;
}





.



