.active {
    color: green;
}

.btn-xs {
    margin-top: 15px;
}

.balance {
    padding: 0;
    margin-top: -1.5em;
    text-transform: uppercase;
    font-size: .8em;
}
.navbar-nav {
    float: left;
    margin: 0;
    height: 65px;
}

.add-fund {
    display: inline-block;
    padding: .25em .5em !important;
    margin-top: .85em;
    margin-right: 1em;
    border-radius: .25em;
    background-color: #1ecde8;

}
 
.add-fund:hover {
    background-color: #fff;
    color: red;
}  

.amount {
    color: red;
}

table.tg {
    /*width: 1280px;*/
    margin: 0 auto;
}

.dropdown {
    display: inline-block;
    margin-top: .85em;
    margin-right: 1em;
}

.dropdown-toggle {
    background-color: transparent;
}

.login-btn {


}

.commit {
    margin-left: 49.1em;
   
}